#############################
## Java
##############################
.mtj.tmp/
*.class
#*.jar
*.war
*.ear
*.nar
hs_err_pid*
##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
*.class
*.class
workspace_huprum/huprum/bin/huprum/main/chat/Chat.class
workspace_huprum/huprum/bin/huprum/main/chat/panels/CenterPanel.class
workspace_huprum/huprum/bin/huprum/main/chat/panels/SouthPanel.class
workspace_huprum/huprum/bin/huprum/main/chat/panels/WestPanel.class
workspace_huprum/huprum/bin/huprum/main/Huprum.class
workspace_huprum/huprum/bin/huprum/main/loginer/Loginer.class
workspace_huprum/huprum/bin/module-info.class
